.hours__slide--wrap{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.507);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 14rem;
    transform: translateX(-100%); // change back to -100%
    transition: .5s ease-in-out;
    z-index: 20;
}
// Actives slide classes
.slide-hours{
    transform: translateX(0%);
    transition: .5s ease-in-out;
    // display: none;
}
.hours__overlay--active{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 1;
    transition: .5s ease-in-out;
}

.hours__title--box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .exit__icon--wrap{
        position: absolute;
        height: 2rem;
        width: 2rem;
        top: 0;
        right: 0;
        image{
            width: 100%;
            height: 100%;
        }
    }
    h4{
        font-size: 1.8rem;
    }
}

.hours__container{
    width: 100%;
    height: 85%;
}

.hour__details--box{
    width: 100%;
    height: 20%;
    padding: 2% 5%;
    border-top: 2px solid white;
    display: grid;
    grid-template-areas:
    ". hour hour ."
    "des des des des"
    ". . . ."
    "temp . . feel";
    h4{
        font-size: 1.1rem;
    }
    p{
        font-size: .9rem;
        text-align: center;
    }
}

.hour{
grid-area: hour;
}
.hour__description{
grid-area: des;
}
.hour__temp{
grid-area: temp;
}
.hour__feelslike{
grid-area: feel;
}
