$primary-color: rgb(233, 223, 223);
$flair-color: #6DADCF;
$error-msg-color: rgb(15, 15, 15);
$overlay-color: rgba(15, 15, 15, 0.7);
$grey-details-color: rgba(128, 128, 128, 0.507);
$menu-gradient:linear-gradient(to bottom right, #7BC1E8, #92C6E2, #accadb, #bbcdd8);
$date-time-size: 1.7rem;
$transition-speed: 0.4s;
$main-font: "Poppins", sans-serif;