@import "variables";
@import "errorMsg";
@import "footerBtns";
@import "citiesSection";
@import "weekForecast";
@import "hoursSlideIn";
@import "location";
@import "searchModal";
@import "mainContent";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $primary-color;
  font-family: $main-font;
}

// html, body{
// height: 100%;
// }

body {
  background-image: url(/src/images/clear-skies-morning.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  padding: 0 5%;
  width: 100vw;
  height: 100vh;
  // didnt work
  // height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  // helps solve overflow on mobile
  // although still not perfect
  touch-action: none;
  -ms-touch-action: none;
}

// .app__wrap{
//   height: 100%;
// }

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $overlay-color;
  z-index: -1;
}

header {
  width: 100%;
  height: 5.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .date--time {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    p {
      font-size: $date-time-size;
    }
    h4 {
      font-size: $date-time-size;
    }
  }
  .search__icon {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 13px;
  }
  .search__icon:hover{
    cursor: pointer;
  }
}
