@import "variables";
@import "footerBtns";
@import "citiesSection";
@import "weekForecast";
@import "hoursSlideIn";
@import "location";
@import "searchModal";
@import "mainContent";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  // background-color: red;
  background-image: url(/src/images/clear-skies-morning.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  padding: 0 5%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header {
  width: 100%;
  height: 5.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .date--time {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    p {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  .search__icon {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 13px;
  }
  .search__icon:hover{
    cursor: pointer;
  }
}
